{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
</head>
<body>
    <div class="main">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.title }} <br>
            {{ form.desc }} <br>
            Complate {{ form.complate }} <br>
            <input type="submit" value="send" class="send">

        </form>
    </div>
</body>
</html>